body {
  background: #8cd89f;
  font-family: monospace;
}

ul {
  display: none;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 50px;
  background: #8cd89f;
  margin-left: 150px;
}

.jumbotron {
  margin-bottom: 0px;
  padding-left: 35px;
  background: #d8d782;
}

#error {
  height: 25px;
}

.input-container {
  margin-left: 150px;
}
